/* ブラウザ全体 */
.c-section {
  // position: relative;
  // height: 100vh;
  // width: 100%;
}

/* チャットボックスの外枠 */
.c-box {
  /* 背景色 */
  background:rgb(37, 142, 223);
  /* ボーダー */
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-sizing: border-box;
  /* サイズ */
  // height: 592px;
  max-height: 800px;
  height: 100%;
  max-width: 432px;
  // padding: 0 1rem;
  width: 100%;
  /* 上下左右中央寄せ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* アンサーの外枠 */
.c-grid__answer {
  background-color: #000;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 27.5%;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@mixin p-chat__bubble($backBround) {
    /* 背景色 */
    background: $backBround;
    /* 文字 */
    color: #000;
    font-size: 0.95em;
    font-weight: 500;
    /* 形 */
    border-radius: 10px;
    /* サイズ */
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
}

.p-chat__bubble_q{
  @include p-chat__bubble(#fff);
}

.p-chat__bubble_a{
  @include p-chat__bubble(#4df080);
}

/* チャットの向き */
@mixin p-chat__common($flexDirection, $justifyContent) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  padding-right: 0 !important;
}
/* 左から */
.p-chat__row {
  @include p-chat__common(row, flex-start);
}
/* 右から */
.p-chat__reverse {
  @include p-chat__common(row-reverse, flex-end);
}
